{{ ansible_managed | comment }}

[Unit]
Description=Prometheus HAProxy Exporter
After=network.target

[Service]
Type=simple
User={{ haproxy_exporter_system_user }}
Group={{ haproxy_exporter_system_group }}
Nice=-5
ExecStart={{ haproxy_exporter_bin_dir}}/haproxy_exporter \
    --haproxy.scrape-uri="{{ haproxy_exporter_scrape_uri }}"
SyslogIdentifier=haproxy_exporter
Restart=always

[Install]
WantedBy=multi-user.target
